//colors
$primary: #FFC737;
$green: #58BD7D;
$orange: #FF6838;


$grey8: #1E1E1E;
$grey7: #23262F;
$grey6: #353945;
$grey5: #777E90;
$grey4: #B1B5C3;
$grey3: #E6E8EC;
$grey2: #F4F5F6;
$grey1: #FCFCFD;


$table: 1024px;
$mob: 576px;



//fonts
$gl: 'Gilroy';
$rb: 'Roboto', sans-serif;
